<div class='feedback'>
<br>
<mat-card>
    <form [formGroup]="feedbackForm" (ngSubmit)="onFormSubmit()" >
            <h1>Give your Feedback</h1>
            <div>
                <mat-form-field>
                    <mat-label class='rating'>Rating</mat-label>
                    <br/>
                    <p>Submit rating 1 - 5</p>
                    <input
                        matInput
                        rows="4"
                        type="number"
                        name = "rating"
                        required
                        placeholder="Rating"
                        formControlName="rating"
                        >
                        <span *ngIf="!feedbackForm.get('rating').valid && feedbackForm.get('rating').touched">Please enter rating</span>
            </mat-form-field>
        </div>

    <div>
        <mat-form-field>
            <input
                matInput
                rows="4"
                name = "comment"
                required
                placeholder="Comment"
                formControlName="comment"
               >
               <span *ngIf="!feedbackForm.get('comment').valid && feedbackForm.get('comment').touched">Please enter comment</span>
        </mat-form-field>
    </div>
     <button
    mat-button
    class='feedbackButton'
    type="submit">ADD FEEDBACK</button>
    </form>
</mat-card>

<br>

<app-feedback-list></app-feedback-list>

            

