.skillCard {
    background-color: white;

}

mat-card {
    text-align: center;
    background-color: white;

    
}

.card-header {
    text-align: center;
}

button {
    background-color: lightgray;
}
button:hover {
    opacity: 0.8;
    background-color:#193153;
    color: white;
  }