
<div class='skillCard'>
<mat-card class="oneSkill">
    <mat-card-header class='card-header'>
        <div mat-card-avatar class='avatar'></div>
                <mat-card-title>{{oneSkill.artist.firstName}}</mat-card-title>
                <mat-card-subtitle>{{oneSkill.title}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://source.unsplash.com/random/1600x900/?art,painting/" alt="Photo of Artist Work">
        <mat-card-content>
            <h2>{{oneSkill.skillType}}</h2>
          </mat-card-content>
        <mat-card-content>
          <h3>{{oneSkill.description}}</h3>
        </mat-card-content>
        <br/>
        <mat-card-content>
            <h2>$ {{oneSkill.price}}</h2>
            <!-- <h3>{{oneSkill.artistId}}</h3> -->
          </mat-card-content>
        <mat-card-actions>
          <hr />
          <hr />
          <div class= "book">
          Email {{oneSkill.artist.firstName}} {{oneSkill.artist.LastName}} at 
          <b>{{oneSkill.artist.email }}</b> to book his service now!
        </div>
            <!-- <form action="https://formspree.io/mzbdbabp" method="POST">
              <input type="hidden" name="_subject" value="Devon" />
              <label>Name</label> <input type="text" name="name" required />
              <label>Email</label> <input type="email" name="_replyto" placeholder={{oneSkill.artist.email}} required />
              <label>Message</label> <input type="text" name="message" />
              <input type="submit" />
              <input type="hidden" name="_next" value="http://localhost:4200/artists"/>
              <input type="text" name="_gotcha" style="display:none" /> -->
          <!-- <form id="contactForm" name="form" (submit)="onSubmit(contactForm)"
          #contactForm="ngForm"
          action="https://formspree.io/mzbdbabp"
          method="POST"
        >
        <div class = "form-group">
         <mat-form-field> -->
          <!-- <label for="name">Your name: </label>
          <input class="form-control" type="text" name="name" placeholder="Your Name"/> -->
         <!-- </mat-form-field> -->

        <!-- <mat-form-field> -->
            <!-- <label for="_replyto">Email </label>
            <input class="form-control"  type="email" name="_replyto" placeholder={{oneSkill.artist.email}}/> -->
         
        <!-- </mat-form-field>
      <mat-form-field> -->
          <!-- <label for="message">Let's start a conversation</label>
          <textarea class="form-control"  name="message" id="" cols="20" rows="5"></textarea>  
          <input type="hidden" name="_next" value="http://localhost:4200/get-skills" />
          <input type="text" name="_gotcha" style="display:none" /> -->
          <!-- <input type="submit" value="Submit"/> -->
         
        <!-- </mat-form-field> -->
          <!-- your other form fields go here -->
        
          <!-- <button type="submit">Send</button> -->
        <!-- </div>  -->
        <!-- </form> -->
        <script>
    //       let contactform =  document.getElementById('contactform');
    // contactform.setAttribute('action', '//formspree.io/'+'mzbdbabp');

        </script>
        <!-- <script src="js/directives/angular-formspree.js">
        </script> -->
        </mat-card-actions>
    </mat-card>
  </div>
  <app-feedback></app-feedback>

<!--need to make an includes in /skill/:id to make this work for their name as well-->

<!-- <button mat-button [routerLink] = "['/artist', artist.id]"> Confirm Booking</button> -->
<!-- This button will need to be linked to formspree to send them an email once they book. We can also play around with adding a message button to contact the artist? -->