.skillCard {
    background-color: white;
    /* width: 80%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; */
}

mat-card {
    text-align: center;
    background-color: white;
    /* justify-self: center;
     */
}

.card-header {
    text-align: center;
}

button {
    background-color: lightgray;
}
button:hover {
    opacity: 0.8;
    background-color:#193153;
    color: white;
  }

  .avatar {
    background-image: url('https://source.unsplash.com/1600x900/?portraits');
    background-size: cover;

  }
