
<div class='skillCard'>
<mat-card class="oneSkill">
    <mat-card-header class='card-header'>
        <div mat-card-avatar></div>
                <mat-card-title>{{oneSkill.artist.firstName}}</mat-card-title>
                <mat-card-subtitle>{{oneSkill.title}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/" alt="Photo of Artist Work">
        <mat-card-content>
            <h2>{{oneSkill.skillType}}</h2>
          </mat-card-content>
        <mat-card-content>
          <p>{{oneSkill.description}}</p>
        </mat-card-content>
        <mat-card-content>
            <h3>{{oneSkill.price}}</h3>
            <h3>{{oneSkill.artistId}}</h3>
          </mat-card-content>
        <mat-card-actions>
          <form
          action="https://formspree.io/xvogjdrv"
          method="POST"
        >
          <label>
            Your name:
            <input type="text" name="name">
          </label>
          <label>
            Your email:
            <input type="email" name="_replyto"><
          </label>
          <label>
            submit
            <input type="submit" value="send">
          </label>
          <!-- your other form fields go here -->
        
          <!-- <button type="submit">Send</button> -->
        </form>
        </mat-card-actions>
    </mat-card>
  </div>
  <app-feedback></app-feedback>

<!--need to make an includes in /skill/:id to make this work for their name as well-->

<!-- <button mat-button [routerLink] = "['/artist', artist.id]"> Confirm Booking</button> -->
<!-- This button will need to be linked to formspree to send them an email once they book. We can also play around with adding a message button to contact the artist? -->