
<div class='container'>
<div class="bg">
    <br/>
    <br/>
<div class="pics">
    <hr/>
<div class="banner"></div>
<hr/>


<!-- <img class="banner" src="../../assets/bannerNew.jpg"> -->
</div>
    <br/>
    <div class="pics">
            <h4></h4>
            <!-- <br> -->
        </div>
        <hr class='overline'/>
<div class='components'>
<div class="pics">
    <mat-card class='findArt'>
        <h2 class='findTitle'>Find Art</h2>
         <img class="artFind" routerLink="/get-skills">
         <br/>
         <p>Find artists for your projects!</p>
    </mat-card>
    <!-- Make the same picture but cut in half -->
    <mat-card class='shareArt'>
        <h2 class='shareTitle'>Share Art</h2>
        <img class="artShare" routerLink="/create-skill">
        <br/>
        <p>Are you an artist? Share your skils and connect with clients!</p> 
    </mat-card> 
</div>
<hr class='underline'/>

</div>
</div>
</div>