.artFind {
    background-image: url("../../assets/findArtNew.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50vh;
    width: 24vw;
}

.artFind:hover{
    background-image: url("../../assets/findArtNewHoverHover.jpg");
    cursor: pointer;
    transform: scale(1.05, 1.05);
    box-shadow: #193153 2px 2px 2px;
}

.artShare {
    background-image: url("../../assets/shareArtNew.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50vh;
    width: 24vw;
}

.artShare:hover{
    background-image: url("../../assets/shareArtHover.jpg");
    cursor: pointer;
    transform: scale(1.05, 1.05);
    box-shadow: #193153 2px 2px 2px;
}

.banner {
    height: 20vh;
    width: 60vw;
}

.pics {
    justify-self: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-content: center;
}

.bg {
    background-color: #bda3a5;
}

h2 {
    color: white;
    font-weight: bold;
}

.findSkillsButton {
    font-size: 150%;
    font-weight: bold;
    background-color:transparent;
    border:none;
    color: white;
}

.findSkillsButton:hover{
    font-size: 150%;
    font-weight: bold;
    background-color:transparent;
    border:none;
    color: black;
}

.createSkillsButton {
    font-size: 150%;
    font-weight: bold;
    background-color:transparent;
    border:none;
    color: white;
}

.createSkillsButton:hover{
    font-size: 150%;
    font-weight: bold;
    background-color:transparent;
    border:none;
    color: black;
}