<div class="bg">
    <br/>
    <br/>
<div class="pics">
<div class="banner"></div>

<!-- <img class="banner" src="../../assets/bannerNew.jpg"> -->
</div>
    <br/>
<div class='components'>
<div class="pics">
    <img class="artFind" routerLink="/get-skills">
    <!-- Make the same picture but cut in half -->
    <img class="artShare" routerLink="/create-skill">
</div>
<div class="pics">
    <h2>Find Art</h2>
    <h4></h4>
    <br>
    <h2>Share Art</h2>
</div>
</div>
<!-- <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/> -->
</div>