mat-card {
    width: 50%;
    text-align: center;
}

.artist {
    display: flex;
    justify-content: center;
}

button {
    background-color: lightgray;
    /* margin-top: 2em; */
    margin: 1em;
    /* width: 30%; */
    text-align: center;
    display:table-cell;
    
 }
 
 button:hover {
     opacity: 0.8;
     background-color:#193153;
     color: white;
   }

li{
    list-style: none;
   }