<div class="bg">
    <br>
    <br>
    <div>
    <h1>Mission Statement</h1>
    <p>We firmly believe that everyone is an artist. Digital Renaissance was born to connect artists of all types. 
    From the watercolor painter to the jazz musician, Digital Renaissance is the hub that makes it easier for artists
     to share their talents with the world. Forming connections and drawing inspiration from those around you is as easy 
     as creating an artist profile and reaching out to those with similar passions. 
    Our target audience includes talented artists with musical, illustrative, or coding backgrounds.
     It also includes those who support the arts and desire to hire their talents. This platform aims 
     to cultivate a lively online community where art is always in the midst of being created or shared. 
     Digital Renaissance streamlines the exchange of art that makes our world wonderfully enriching.
    </p>
    </div>
    <div>
    
    </div>
</div>