.authPage {
    background-color: #bda3a5;
    opacity: .9;
    height: 97.5%;
    justify-self: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-content: center;
}