<div class='title'><h2>Comments</h2>
</div>
<div class='feedbackList'>
<mat-card *ngFor='let fb of data'>
    <mat-card-content>
        <div>
            <h4>Rating:</h4>
            <p> {{fb.rating}}</p>
            <h4>Comment:</h4>
            <p> {{fb.comment}}</p>
        </div>
        <div *ngIf="artistId == fb.artistId">
                <button mat-button (click)="deleteFeedback(fb.id)"> DELETE</button>
                <button mat-button [routerLink]="['edit-feedback/', fb.id]">UPDATE</button>
        </div>
    </mat-card-content>
</mat-card>
</div>