
<div class='loginForm'>
  <mat-card>
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
            <div>
                <mat-form-field>
                    <input
                        matInput
                        type="email"
                        name="email"
                        ngModel
                        required
                        minlength="3"
                        placeholder="Email"
                        #email="ngModel">
                    <mat-error *ngIf="email.invalid">Please enter an email.</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input
                        matInput
                        type="password"
                        name="password"
                        ngModel
                        required
                        minlength="3"
                        placeholder="Password"
                        #password="ngModel">
                    <mat-error *ngIf="email.invalid">Please enter a password.</mat-error>
                </mat-form-field>
                </div>
                <button 
            mat-button
            class='loginButton'
            type="submit">LOGIN</button>
         </form>
</mat-card>
</div> 

<br/>

<div class='loginForm'>
        <button mat-button class='toggle' routerLink='/signup'>New artist? Register for an account!</button>

</div>
