/* Bordered form */
mat-form-field {
  text-align: center;
  

}

.loginForm {
    text-align: center;
    display: flex;
    justify-content: center;

  }
  
  mat-card {
    width: 15em;
    margin-top: 2em;

  }
  

  /* Full-width inputs */
  input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
  }

  .loginButton {
    width: 80%;
  }
  
  /* Set a style for all buttons */
  button {
    /* background-color: #193153; */
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    height: 4.5em;
    text-align: center;
    align-items: center;
  }

  .toggle {
    width: 26%;

  }

  a {
    margin-top: 2em;
    text-decoration: none;
    color: black;
    
  }
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    background-color:#193153;
    color: white;
  }

  h2 {
      text-align: center;
  }