<div class='createSkill'>
<mat-card>
    <form (submit)="onSubmit(skillForm)"
            #skillForm="ngForm" novalidate>
            <h1>Create Skill Profile: </h1>
            <div>
                <mat-form-field>
                    <mat-label>Artist Category</mat-label>
                            <input
                        matInput
                        rows="4"
                        name = "skillType"
                        ngModel 
                        required
                        placeholder="Artist Category"
                        #skillType="ngModel">
                        <mat-error *ngIf="skillType.invalid">Please enter a title that defines your artistry.</mat-error>
                    <!-- <mat-select>
                        <mat-option *ngFor="let s of skillType" [value]="s.value">
                        {{s.viewValue}}
                        </mat-option>
                    </mat-select> -->
            </mat-form-field>
        </div>

    <div>
        <mat-form-field>
            <input
                matInput
                rows="4"
                name = "title"
                ngModel 
                required
                placeholder="Title"
                #title="ngModel">
                <mat-error *ngIf="title.invalid">Please enter a title that defines your artistry.</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
                <input
                matInput
                rows="4"
                name = "image"
                ngModel 
                placeholder="Work Examples"
                #title="ngModel">
        </mat-form-field>
    </div>
    <div>
            <mat-form-field>
                    <textarea
                    matInput
                    rows="4"
                    name = "description"
                    type="text"
                    required
                    ngModel 
                    placeholder="Description"
                    #title="ngModel">
                    <mat-error *ngIf="description.invalid">Please enter a description for the type of service you offer.</mat-error></textarea>
            </mat-form-field>
        </div>

        <div>
                <mat-form-field>
                        <span matPrefix>$ &nbsp;</span>
                        <input
                        matInput
                        rows="4"
                        type="number"
                        name = "price"
                        required
                        ngModel 
                        placeholder="Price"
                        #title="ngModel">
                        <!-- <mat-error *ngIf="price.invalid">Please enter a price for your service.</mat-error> -->
                </mat-form-field>
            </div>
     <button
    mat-button
    type="submit">Create Skill Profile</button>
    </form>
</mat-card>
</div>
        
        <!-- <form #skillForm="ngForm" (ngSubmit)="onSubmit()" novalidate class="formDiv">

            {{ skillForm.form.valid}}

            <pre>{{ skillForm.value | json}}</pre>
            <hr />
            {{skillModel | json}}

        <div class="form-group">
            <select (blur)="validateskillType(skillType.value)" (change)="validateskillType(skillType.value)" class="custom-select" 
            [(ngModel)]="skillModel.skillType" name="skillType" #skillType="ngModel" [class.is-invalid]="skillType.hasError && skillType.touched">
                <option value='default'>Artist Category</option>
                <option *ngFor="let typeOfArtist of typeOfArtists">{{typeOfArtist}}</option>
            </select>
            <small class="text-danger" [class.d-none]="!skillTypeHasError || skillType.untouched">Please choose your artist category.</small>
        </div>
        <div class="form-group">
                <label for="title">Title</label>
                    <input required 
                    [(ngModel)]="skillModel.title" name="title" #title= "ngModel" type="text" class="form-control">

                    <div class="alert alert-danger" *ngIf="title.touched &&!title.valid"> Title is required.</div>
        </div>

        <div class="form-group">
                <label for="image">Work Examples</label>
                    <input  
                    [(ngModel)]="skillModel.image" name="image" #image= "ngModel" type="text" class="form-control">
        </div>

        <div class="form-group">
                <label for="description">Description</label>
                    <textarea [(ngModel)]="skillModel.description" name="description" #description= "ngModel" id="description" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
                <input required 
                [(ngModel)]="skillModel.price" name="price" 
                #price= "ngModel"
                id="price" class="form-control"> 

                <div class="alert alert-danger" *ngIf="price.touched &&!price.valid"> Price is required.</div>
        </div>
            <button [disabled]="skillForm.form.invalid class="submit" type="submit">Submit</button> 
</form>
</div> -->