<div class="bg">


<div class="container bg" >
        <h1> All Artists </h1>
</div>
<div>       
    <div class="card-display">
        <mat-card *ngFor='let artist of artists'>
            <div class="profile-info">
                <div>
                        Add Image here
                </div>
                <div>
                        <h3>{{artist.firstName}} {{artist.lastName}}</h3>
                        <p> {{artist.email}} </p>
                        <span><h3>Role:</h3> <p>{{artist.role}}</p></span>
                        <p>{{artist.id}}</p>
                </div>
                <div>
                        <button mat-button [routerLink] = "['/artist', artist.id]" class='authButton'>See more about</button>
                        <button mat-button (click)="onDeleteArtist(artist.id)"> DELETE</button>
                        <button mat-button (click)="onUpdateArtist(artist.id)"> UPDATE</button>
                    </div>
            </div>
           

            
        </mat-card>
    </div>
    
</div>
</div>