.bg{
    background-color: #3b6283;
    background-size: 100%;
    min-height: 500px;
    width: 100%;

}
h1{
    display: block;
}
.container{
    display: flex;
    justify-content: center;
}
.card-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
/* .admin-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

mat-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    width: 60%;
    margin: 1rem;
}

.profile-info{
    display: flex;
    
}

.image {
    margin-left: 2em;
}

