.admin {
    min-height: 500px;
    width: 80%;
    background-color: #3b6283;
    display: flex;
    justify-content: center;
    padding: 2em;
}

.container {
    display: flex;
    justify-content: center;
}

/* :host{
    display: block;
} */

h1{
    justify-content: center;
}