.banner{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin:0;
    min-height: 500px;

}

.bannerHeading{
    font-size:200%;
    text-shadow: 2px 2px 6px #000;
    color:white;
    text-align:center;
    padding: 1em;
}

mat-card{
    display:flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    min-width: 15em;
    text-align: center;
  
}

#btn{
   
    /* border: 3px solid white;
    background-color:white; */
    margin: 1em;
}

.button {
    display: flex;
    justify-content: center;
}

#btn {
    background-color: white;
    margin-top: 2em;
    height: 5em;
    width: 30em;
    font-size: 15px;
    margin-top: -1em;
 }
 
 #btn:hover {
     opacity: 0.8;
     background-color:#193153;
     color: white;
   }