<div class="bannerHeading"> My Profile
</div>
    <div class="banner">
        <div class="bannerText" *ngFor='let oneArtistSkill of oneArtistSkills'>
        <mat-card>
            <h6> Profile #: {{oneArtistSkill.id}}</h6>
            <h5> Artist Name: {{oneArtistSkill.artist.firstName}} {{oneArtistSkill.artist.lastName}}</h5>
            <h5> 
                    Artist E-mail:
                    {{oneArtistSkill.artist.email}} </h5>
            <h5> 
                Category of Artist:
                {{oneArtistSkill.skillType}} </h5>
            <h5><i><u> Headline Title: {{oneArtistSkill.title}}</u></i></h5>
            <h5> Description: {{oneArtistSkill.description}}</h5>
            <h5>Price : ${{oneArtistSkill.price}}</h5>
            <button mat-stroked-button color="primary" (click)="onUpdateSkillProfile()">Update</button>

            <!-- <span *ngIf="confirmDelete">
                <span>Are you sure you want to delete?</span>
                <button mat-stroked-button color="warn" (click)="onDeleteSkillProfile(oneArtistSkill.id)">Yes</button>
                <button mat-stroked-button color="primary" (click)="confirmDelete=false">No</button>
            </span>
            <button mat-stroked-button color="warn" (click)="confirmDelete=true">Delete</button> -->




            <button mat-stroked-button color="warn" (click)="onDeleteSkillProfile(oneArtistSkill.id)">Delete</button>
        </mat-card>
        </div>
    </div>


    