<div class='signUpForm'>
<mat-card>
        <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm">
            <div>
                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="firstName"
                        ngModel
                        required
                        minlength="3"
                        placeholder="First Name"
                        #firstName="ngModel">
                    <mat-error *ngIf="firstName.invalid">Please enter a first name.</mat-error>
                </mat-form-field>
            </div>
         <div>
            <mat-form-field>
                <input
                    matInput
                    rows="4"
                    name="lastName"
                    ngModel
                    required
                    placeholder="Last Name"
                    #lastName="ngModel">
                <mat-error *ngIf="lastName.invalid">Please enter a last name.</mat-error>
            </mat-form-field>
         </div>
         
         <div>
            <mat-form-field>
                <input
                    matInput
                    rows="4"
                    type='password'
                    name="password"
                    ngModel
                    required
                    placeholder="Password"
                    #password="ngModel">
                <mat-error *ngIf="password.invalid">Please enter a password.</mat-error>
            </mat-form-field>
         </div>
              <mat-form-field>
                    <input
                      matInput
                      rows="4"
                      type='email'
                      name="email"
                      ngModel
                      required
                      placeholder="Email"
                      #email="ngModel">
                    <mat-error *ngIf="email.invalid">Please enter an email.</mat-error>
                </mat-form-field>
          <button
            mat-button
            class='signupButton'
            type="submit">SIGNUP</button>
        </form>
</mat-card>
</div>

<div class='toggleDiv'>
        <button mat-button class='toggle' routerLink='/login'>Already have a profile? Login here!</button>

</div>

