<header>
    <div class='container'>
        <a routerLink='/' class='logo'>Digital Renaissance</a>
        <nav>

            <ul>
                <li><button mat-button routerLink='/' class='authButton'>Home</button></li>
                <li><button mat-button routerLink='/about' class='authButton'>About</button></li>
                <li><button mat-button routerLink='/artists' class='authButton'>Artists</button></li>
                <button mat-button routerLink='/auth' class='authButton'>Login/Signup</button>

            </ul>
        </nav>
        <div class='auth'>
        </div>
    </div>

</header>

<section>
    <router-outlet></router-outlet>
</section>

<!-- <app-footer></app-footer> -->