
.bg {
    background-color: #3b6283;
    background-size: cover;
    min-height: 500px;
}

h2 {
    color: white;
    font-weight: bold;
}

.findSkillsButton {
    font-size: 150%;
    font-weight: bold;
    background-color:transparent;
    border:none;
    color: white;
}

.findSkillsButton:hover{
    font-size: 150%;
    font-weight: bold;
    background-color:transparent;
    border:none;
    color: black;
}

.createSkillsButton {
    font-size: 150%;
    font-weight: bold;
    background-color:transparent;
    border:none;
    color: white;
}

.createSkillsButton:hover{
    font-size: 150%;
    font-weight: bold;
    background-color:transparent;
    border:none;
    color: black;
}