
<div class="bannerHeading">Find the Right Artist for You</div>

<div class='container'>
<mat-card class="card" *ngFor='let skill of skills'>
          <div mat-card-avatar class="header-image"></div>
          <div class='cardHeader'>
          <h1 class='title'>{{skill.title}}</h1>
          <!-- <br/> -->
          <mat-card-subtitle>{{skill.artist.firstName}} {{skill.artist.lastName}}</mat-card-subtitle>
        </div>
        <br/>
        <img mat-card-image alt="profile picture" src='https://source.unsplash.com/random/?art/'>
        <br/>
        <br/>
        <mat-card-content>
        <h2>{{skill.skillType}}</h2>
        <h3>Description:</h3>
          <p>
                {{skill.description}}
          </p>
          <p>Price: ${{skill.price}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class='view' routerLink ='/skill/{{skill.id}}'>View Skill</button>
        </mat-card-actions>
      </mat-card>
</div>
